.profile{
    height: 70px;
    width: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    overflow-y: auto;
    transition: all 0.3s ease-in-out    ;
    button{
        background-color: rgb(17, 85, 231);
        color: white;
    }
}
.profile-card {
  text-align: center;
  color: black;
}
.profile-body{
    color: black;
}
.profile-header {
  margin-bottom: 15px;
}

.profile-pic-lg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.muted {
  color: #666;
  font-size: 14px;
}

.logOut{
    margin-top: 10px;
}
.logOut:hover{
    background-color: blue;
    color: white;
}
