.Category{
    //background-color: aquamarine;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .cat{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 75vw;
        div{
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px;
            width: 30%;
            margin: 90px 30px;
            font-size: 30px;
            border-radius: 10px;
            border: 4px solid #004dff;
            &:hover{
                border-radius: 20px;
                cursor: pointer;
                text-decoration: underline;
                background-color: rgba(153, 209, 235, 0.082);
            }
        }
    }
}
